<p>{{quote.description}}</p>
<p>Quote submitted on {{quote.submitDate|dateSubmit}}</p>
<button class="btn btn-danger" (click)= 'quoteDelete(true)'>Delete Quote</button>
<div class="quote">
  <label for="vote">Vote:</label>
  <div class="row">
    {{vote}}
  <div class="kura">
    <a href (click)="likeVote()">
    <button type="button" name="upvote">UPVOTE</button>
    </a>
  </div>
  <div class="stingy">
    <a href (click)="dislikeVote()">
      <button type="button" name="downvote">DOWNVOTE</button>
    </a>
  </div>
 </div>
</div>
